# The name of the supply collector.
RedisSupplyCollector

# This is the connection string.  The comments and the
# blank lines are ignored.
redis:6379/key-collection-separator=:,key-levels=1,complex-values=true,complex-value-type=json

#GetSchema test values. Table count|Entity count.
GetSchema | 2 | 35

#CollectSample test.  DataCollection|DataEntity|sample size|list of sample values. Make sure to specify entire collection size to select because of random sampling
CollectSample | emails | from.addr | 200 | will@example.com | sally@example.com | chris@example.com

#RandomSample test.  DataCollection|DataEntity|sample size|list of sample values
RandomSample | emails | from.addr | 3

#DataCollectionMetricsTest. DataCollection | row count | total size | used size
#DataCollectionMetrics | email | 200 | 84.0 | 84.0
#DataCollectionMetrics | lead | 200 | 92 | 92
#DataCollectionMetrics | contacts_audit | 200 | 104 | 104

#LoadTest. DataCollection | DataEntity | sample size | MaxMemoryUsageMb | MaxProcessingTimeSec
LoadTest | TestCollection | Test1 | 1000000 | 10 | 30
